---
interface Props {
  answer?: string;
}

const { answer = "" }: Props = Astro.props;
---

<span class="quiz-gap" data-answer={answer} aria-label="Fill-in-the-blank answer placeholder">
  {answer}
</span>
